* {
  box-sizing: border-box;
}


/* ==== Styles ====*/

body {
  text-align: center;
}


/* ==== HEADER ==== */

.cover {
  background: url('assets/cover%20photo.jpg') no-repeat center;
  background-size: cover;
  background-position-x: 70%;
  height: 100vh;
  width: 100%;
  color: #d2ba87;
  font-family: 'Great Vibes';
  font-size: 3.5rem;
  display: table;
}

.header-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.byline {
  background: hsla(100,0%,0%,.6);
} 

.cover p {
  color: hsla(0,0%,100%,.9);
  font-family: 'Libre Baskerville';
  font-size: 1rem;
  letter-spacing: .1rem;
  padding: 1rem;
}

.tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12rem;
  margin: .5rem auto;
}

.date::after, .date::before {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

/* ==== LOCATIONS ==== */ 

.location {
  background: url('assets/background%20pattern.png') no-repeat center;
  background-size: cover;
  padding: 2rem;
  color: #444349;
}

.location h1 {
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: bold;
}

.location h2 {
  font-family: 'Libre Baskerville';
  font-weight: bold;
  font-size: 1.2rem;
}

.location p {
  font-family: 'Mulish';
  font-size: 1rem;
}

.location-icon {
  width: 70%;
  padding: 1rem;
}

.box {
  padding: .3rem;
}

.box::after {
  display: inline-block;
  content: "";
  background: #444349;
  height: 4px;
  width: 4rem;
  vertical-align: middle;
  margin: 1.5rem;
}

/* ==== PROGRAM ==== */

.program {
  background: url(assets/background%20pattern.png) no-repeat center;
  color: #d2ba87;
}

.program-wrapper {
  background: hsla(100,0%,0%,.6);
  padding: .5rem;
  font-family: 'Mulish';
  font-size: 1rem;
  text-align: left;
}

.program h1 {
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.program h2 {
  font-size: .9rem;
  font-weight: bold;
  font-style: italic;
  padding: .4rem;
  margin-bottom: 1rem;
  margin-top: 1rem; 
}

li {
  padding: .4rem;
  font-weight: bold;
}

ul {
  margin-bottom: 1rem;
}

/* ==== GIFT ==== */

.gifts {
  background: url(assets/background%20pattern.png) no-repeat center;
  background-size: cover;
  padding: 1.5rem;
  color: #444349;
}

.gifts h1 {
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.gifts p {
  font-family: 'Libre Baskerville';
}

.gifts-icon {
  width: 70%;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}


/* ==== QUESTIONS AND ANSWERS ==== */

.questions {
  background: url('assets/background%20pattern.png') no-repeat center;
  background-size: cover;
  color: #d2ba87;
}

.questions-wrapper {
  background: hsla(100,0%,0%,.6);
  padding: .6rem;
}

.questions h1 {
  font-family: 'Great Vibes';
  font-size: 2.6rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.questions h2 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.questions p {
  font-family: 'Mulish';
}

.quest {
  font-weight: bold;
}

.questions article {
  text-align: left;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.box2 {
  font-family: 'Libre Baskerville';
}

.box2::after {
  display: inline-block;
  content: "";
  background: #d2ba87;
  height: .1875rem;
  width: 10rem;
  vertical-align: middle;
  margin: 1.5rem;
}

a {
  color: #bd806e;
  text-decoration: none;
}

a:hover {
  color: #eda087;
}

/* ==== CONTACT ====*/

.contact {
  background: url('assets/background%20pattern.png') no-repeat center;
  background-size: cover;
  padding: 2rem;
  color: #444349;
}

.contact h1 {
  font-family: 'Great Vibes';
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact p {
  margin-bottom: 1rem;
  font-family: 'Mulish';
  font-weight: bold;
}

/* ==== FOOTER ====*/

footer {
  background-color: #606060;
  color: #fff;
  padding: 1rem;
  font-size: .8rem;
  font-family: 'Libre Baskerville';
}

footer strong {
  font-weight: bold;
}



























